{% extends "base.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> Dataset preview using a TABLE in HTML</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    {% for col in data.columns %}
                    <th class="px-4 py-2">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    {% for cell in data %}
                    <td class="border px-4 py-2">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}